.list-group-item *{
    margin-bottom: 100px !important;
}

.img-fluid{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.button-circle{
    border-radius: 45px;
}
.transport-section{
    padding: 12% 0;
}
.points_section{
    padding: 12% 0;
}